.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autotoolstest-0.01.tar.gz
build-aux/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
stamp-h1
autotoolstest
autotoolstest.o

